# Composer files
#/composer.lock
/html/**/.git
/html/**/.gitignore
/vendor/**/.git
/vendor/**/.gitignore

# Sites folder
/html/sites/default/*
/html/sites/default/settings.php
/html/sites/default/default.settings.php
/html/sites/default/settings.local.php
/html/sites/default/services.yml
/html/sites/default/files
/html/sites/sites.php
/html/sites/settings.php
/html/sites/default.settings.php
/html/sites/tbsblog.ca/*

# Project workspace
/.idea/*

# Content files
/content/*
