parameters:
    level: 0
    fileExtensions:
        - php
        - module
        - inc
        - install
    excludePaths:
      # Exclude deprecated modules.
      - modules/webform_bootstrap/*
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - "#^Class Drupal\\\\webform_test_handler_remote_post\\\\WebformTestHandlerRemotePostClient extends @final class GuzzleHttp\\\\Client\\.#"
        - "#^Unsafe usage of new static#"
        # Remove once this is fixed https://www.drupal.org/project/webform/issues/3478049
        - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
        - '#^Class Drupal\\webform\\Commands\\WebformSanitizeSubmissionsCommands implements deprecated interface Drush\\Drupal\\Commands\\sql\\SanitizePluginInterface#'
