parameters:
    level: 0
    fileExtensions:
        - php
        - module
        - inc
        - install
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - "#^Unsafe usage of new static#"
        # Remove once this is fixed https://www.drupal.org/project/webform/issues/3478049
        - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
