/**
 * @file
 * Off-canvas styles.
 */

#drupal-off-canvas .webform-default-data textarea {
  font-family: monospace;
  white-space: pre;
}

#drupal-off-canvas .webform-default-data pre {
  border: 1px solid #ddd;
  padding: 10px;
  font-family: monospace;
  white-space: pre;
}
