display:
  default:
    display_options:
      fields:
        ref_number:
          label: 'Numéro de demande'
        name:
          label: Nom
        airfare:
          label: 'Frais aériens'
          alter:
            text: '{{ airfare|trim|number_format(2, '','', '','') }} $'
        other_transport:
          label: 'Autres frais de transport'
          alter:
            text: "{{ other_transport|trim|number_format(2, ',', ',') }} $\r\n"
        lodging:
          label: Hébergement
          alter:
            text: '{{ lodging|trim|number_format(2, '','', '','') }} $'
        meals:
          label: 'Frais de repas et frais accessoires'
          alter:
            text: '{{ meals|trim|number_format(2, '','', '','') }} $'
        other_expenses:
          label: 'Autres dépenses'
          alter:
            text: '{{ other_expenses|trim|number_format(2, '','', '','') }} $'
        total:
          label: 'Montant total'
          alter:
            text: '{{ total|trim|number_format(2, '','', '','') }} $'
        start_date:
          label: 'Date du début du voyage'
        end_date:
          label: 'Date de fin du voyage'
      footer:
        area_text_custom:
          content: '<p class="mrgn-tp-lg mrgn-bttm-xl"><a class="btn btn-primary" href="/fr/search/travela">Retour à la recherche&nbsp;<span class="fa fa-undo"></span></a></p>'
      title: 'Frais de voyage gouvernementaux'
