/* Map Gallery */
.fgpMap {
  height: 700px;
  border: 1px solid black;
  margin-top: 50px;
  position: relative;
  width: 100%;
}

.map-gallery {
  position: relative;
  border: 1px solid #BBB;
  background: #eee;
  float: left;
  width: 100%;
  text-align: center;
}
